<div id="app">
   <div :style="{ color }">
      Compteur: {{ counter }}
   </div>
</div>

<script src="https://unpkg.com/vue@next"></script>

<script type="module">
   const { createApp, ref } = Vue

   const App = {
      setup() {
         const counter = ref(0)
         const color = ref('green')

         setInterval(() => {
            counter.value++
            color.value = counter.value % 2 ? 'red' : 'green'
         }, 1000)

         return {
            counter,
            color,
         }
      }
   }
   createApp(App).mount('#app')
</script>
