<div id="app">
   <h1>{{ name }}</h1>

   <input type="text" :value="name" @input="name = $event.target.value" />
   <div>Hello {{ name }}</div>
   <input type="text" v-model="name" />
</div>

<script src="https://unpkg.com/vue@next"></script>

<script type="module">
   const { createApp, ref } = Vue

   const App = {
      setup() {
         const name = ref('JC')

         return {
            name,
         }
      }
   }
   createApp(App).mount('#app')
</script>
